.second_part{
    width: auto;
    height: 600px;
    background-color: black;
    margin-top: 90px;
    display: flex;
    
}
.car_image{
    width: 600px;
    height: 300px;
    background-image: url(https://www.lloydmotorgroup.com/ImageLibrary/images/Jaguar/Retail/Master/Hero/Jaguar-F-PACE-offer-banner-20241.png);
    margin-left: 80px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
}
.car-image:hover{
    opacity: 1.9;
}

.text_part {
    margin-top: 350px;
    margin-left: -600px;
    width: auto;
    height: 150px;
    /* background-color: rgb(197, 84, 103); */
    color: white;
}
.text_part button:hover{
    background-color: black;
    color: white;
    border: none;
}